body{
	font-family: Helvetica;
	font-weight: 300;
	margin: 0;
	padding: 0;
	background: #f7bb00;
}
.conteudo{
	width: 800px;
	margin: 0 auto;
}
ul{
	padding: 0;
}
li{
	list-style: none;
}
input[type="number"],
input[type="text"]{
	border: none;
	width: 450px;
	height: 45px;
	margin: 5px 0;
}
